.btn {
  max-width: 230px;
  width: 100%;
  height: 50px;

  background-color: $white;
  border: 1px solid $blue;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $blue;
}

// @media (max-width: 767px) {
//   .btn {
//     font-size: 14px;
//   }
// }
