.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .container {
    max-width: 1000px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 530px;
    padding: 0 15px;
  }
}
