*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Kyiv";
  src: url("../fonts/KyivTypeSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Kyiv";
  src: url("../fonts/KyivTypeSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #1d1d1d;
}

.title--main {
  font-size: 46px;
  line-height: 65px;
}

.title--sub {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.title--18 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7b7e86;
}

.text--menu {
  font-size: 14px;
  line-height: 140%;
}

.text--sub {
  font-size: 12px;
  line-height: 130%;
}

.btn {
  max-width: 230px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #1b6df5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1b6df5;
}

.main {
  overflow: hidden;
}

.start {
  padding-top: 100px;
  padding-bottom: 90px;
}

.start__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.start__info {
  max-width: 530px;
  width: 100%;
}

.start__title {
  margin-top: 10px;
}

.start__text {
  margin-top: 40px;
}

.start__btn {
  margin-top: 30px;
}

.start__img {
  max-height: 390px;
}

.start__img img {
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 1279px) {
  .container {
    max-width: 1000px;
    padding: 0 20px;
  }

  .title {
    font-size: 32px;
  }

  .title--main {
    font-size: 40px;
  }

  .title--18 {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .text--menu {
    font-size: 12px;
  }

  .start {
    padding-top: 75px;
    padding-bottom: 70px;
  }

  .start__wrapper {
    gap: 0;
  }

  .start__title {
    margin-top: 5px;
  }

  .start__text {
    margin-top: 30px;
  }

  .start__btn {
    margin-top: 20px;
  }

  .start__img {
    max-height: 360px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 22px;
    line-height: 30px;
  }

  .title--main {
    font-size: 30px;
    line-height: 40px;
  }

  .title--sub {
    font-size: 18px;
  }
}