@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Kyiv";
  src: url("../fonts/KyivTypeSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Kyiv";
  src: url("../fonts/KyivTypeSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hidden {
  display: none !important;
}

.accordion {
  padding: 25px 0;
  cursor: pointer;
}

.accordion:hover .accordion__toggler {
  border-color: #1b6df5;
}

.accordion:hover .accordion__toggler::before,
.accordion:hover .accordion__toggler::after {
  background-color: #1b6df5;
}

.accordion__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}

.accordion__toggler {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1d1d1d;
  background-color: transparent;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.accordion__toggler::before,
.accordion__toggler::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #1d1d1d;
  border-radius: 99px;
  position: absolute;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.accordion__toggler::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.accordion__toggler::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion__toggler.active {
  border-color: #1b6df5;
}

.accordion__toggler.active::before,
.accordion__toggler.active::after {
  background-color: #1b6df5;
}

.accordion__toggler.active::after {
  width: 0px;
}

.accordion__body {
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.accordion__content {
  display: grid;
  grid-template-columns: 66% 1fr;
  gap: 20px;
}

.accordion__img {
  position: relative;
  height: 100%;
  background-color: #dee0eb;
  border-radius: 10px;
}

.accordion__img img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.accordion__text {
  margin-top: 25px;
}

.accordion__btn {
  margin-top: 35px;
}

.accordion.active .accordion__body {
  margin-top: 35px;
}

.accordion.active .accordion__toggler::after {
  width: 0;
}

.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 230px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #1b6df5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1b6df5;
  white-space: nowrap;
  -webkit-transition: 1s cubic-bezier(0, 0.3, 0.4, 1);
  -o-transition: 1s cubic-bezier(0, 0.3, 0.4, 1);
  transition: 1s cubic-bezier(0, 0.3, 0.4, 1);
}

.btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #1b6df5;
  -webkit-transition: width 1s cubic-bezier(0.1, 0.35, 0.35, 1), height 1s cubic-bezier(0.1, 0.35, 0.35, 1);
  -o-transition: width 1s cubic-bezier(0.1, 0.35, 0.35, 1), height 1s cubic-bezier(0.1, 0.35, 0.35, 1);
  transition: width 1s cubic-bezier(0.1, 0.35, 0.35, 1), height 1s cubic-bezier(0.1, 0.35, 0.35, 1);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn:hover {
  color: #ffffff;
  -webkit-transition: 0.5s cubic-bezier(0, 0.3, 0.4, 1);
  -o-transition: 0.5s cubic-bezier(0, 0.3, 0.4, 1);
  transition: 0.5s cubic-bezier(0, 0.3, 0.4, 1);
}

.btn:hover span {
  width: 210%;
  height: 800%;
}

.btn--black {
  border: none;
  background-color: #1d1d1d;
  color: #ffffff;
}

.btn--black svg {
  fill: #fdec00;
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 20;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.burger__top,
.burger__middle,
.burger__bottom {
  display: block;
  position: absolute;
  height: 1px;
  width: 50%;
  background-color: #1d1d1d;
  opacity: 1;
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -ms-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger__top {
  top: 11px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.burger__middle {
  top: 19px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.burger__bottom {
  top: 27px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.burger.open .burger__top {
  -webkit-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  top: 19px;
  background-color: #1d1d1d;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger.open .burger__middle {
  width: 0%;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger.open .burger__bottom {
  -webkit-transform: rotate(-45deg) translateX(-50%);
  -ms-transform: rotate(-45deg) translateX(-50%);
  transform: rotate(-45deg) translateX(-50%);
  top: 19px;
  background-color: #1d1d1d;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.card {
  padding: 20px 20px 45px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.card__image {
  position: relative;
  height: 250px;
  border-radius: 10px;
}

.card__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.card__tag {
  padding: 2px 10px;
  border-radius: 99px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #7b7e86;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

.card__tag span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #7b7e86;
}

.card__info h3 {
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #1d1d1d;
}

.card__info p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7b7e86;
}

.card__info a {
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #1b6df5;
  display: inline-block;
  margin-top: 15px;
  border-bottom: 1px solid #1b6df5;
}

.card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.card__text {
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.card__progress {
  margin-top: auto;
}

.card__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}

.card__amount p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #7b7e86;
}

.card__bar {
  position: relative;
  height: 4px;
  margin-top: 5px;
  background-color: #dee0eb;
}

.card__bar span {
  width: 50%;
  height: 100%;
  background-color: #1b6df5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.card__bar span p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1b6df5;
  position: absolute;
  top: 5px;
  right: 0;
}

.card.green .card__image {
  background-color: #e2ffdd;
}

.card.blue .card__image {
  background-color: #c6e2f8;
}

.card.yellow .card__image {
  background-color: #ffffdd;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.header__nav {
  margin-left: auto;
}

.header__nav--mobile {
  display: none;
}

.header__buttons {
  display: none;
}

.main {
  overflow: hidden;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lang__btn {
  position: relative;
  padding: 7px 5px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #7b7e86;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.lang__btn:hover {
  color: #b9bcc6;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.lang__btn.active {
  color: #1b6df5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: default;
  pointer-events: none;
}

.lang__btn:first-of-type::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #7b7e86;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 164px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.nav__link a {
  color: #1d1d1d;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav__link a:hover {
  color: #1b6df5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu {
  position: relative;
}

.submenu__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  color: #1d1d1d;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu__head svg {
  fill: #1d1d1d;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu__head:hover {
  color: #1b6df5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu__head:hover svg {
  fill: #1b6df5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu__body {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(100% + 15px);
  left: -20px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu__item a {
  display: block;
  width: 100%;
  padding: 7px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #1d1d1d;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu__item a:hover {
  color: #1b6df5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submenu.open .submenu__body {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7b7e86;
}

.text--menu {
  font-size: 14px;
  line-height: 140%;
}

.text--sub {
  font-size: 12px;
  line-height: 130%;
}

.title {
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #1d1d1d;
}

.title--main {
  font-size: 46px;
  line-height: 65px;
}

.title--sub {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.title--18 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.start {
  padding-top: 100px;
  padding-bottom: 90px;
}

.start__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.start__info {
  max-width: 530px;
  width: 100%;
}

.start__info h1 {
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #1d1d1d;
  margin-top: 10px;
}

.start__info h2 {
  font-family: "Kyiv", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 65px;
  color: #1d1d1d;
}

.start__info p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7b7e86;
  margin-top: 40px;
}

.start__btn {
  margin-top: 30px;
}

.start__btn--mobile {
  display: none;
}

.start__box {
  max-width: 410px;
  width: 100%;
}

.start__box img {
  -o-object-fit: contain;
  object-fit: contain;
}

.donat__wrapper {
  padding: 40px 50px;
  background-color: #ffffff;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 69% 28%;
  gap: 40px 3%;
}

.donat__banks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.donat__bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1d1d1d;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.donat__bank:hover {
  opacity: 0.6;
}

.donat__bank.active {
  opacity: 1;
}

.donat__icon {
  width: 25px;
  height: 25px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.donat__text {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.donat__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.donat__sum {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #1b6df5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 16px;
  color: #1b6df5;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px;
}

.donat__sum span {
  font-weight: 400;
}

.donat__sum:hover {
  background-color: #1b6df5;
  color: #ffffff;
}

.donat__sum.active {
  background-color: #1b6df5;
  color: #ffffff;
}

.donat__btn {
  max-width: 305px;
}

.kinds {
  padding-top: 200px;
}

.kinds__title {
  margin-bottom: 90px;
}

.kinds__item {
  position: relative;
}

.kinds__item::after {
  content: "";
  max-width: 100%;
  width: 100vw;
  height: 1px;
  background-color: #1d1d1d;
  position: absolute;
  left: 0;
}

.kinds__item::after {
  bottom: 0;
}

.kinds__item:first-of-type::before {
  content: "";
  max-width: 100%;
  width: 100vw;
  height: 1px;
  background-color: #1d1d1d;
  position: absolute;
  top: 0;
  left: 0;
}

.projects {
  padding-top: 200px;
}

.projects__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}

.projects__desc {
  margin-top: 20px;
}

.projects__btn--mobile {
  display: none;
}

.projects__grid {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1279px) {
  .accordion__btn {
    margin-top: 45px;
  }

  .card__image {
    height: 200px;
  }

  .card__info h3 {
    font-size: 18px;
    line-height: 150%;
  }

  .card__info p {
    font-size: 14px;
  }

  .card__info a {
    margin-top: 10px;
  }

  .card__text {
    margin-top: 10px;
  }

  .card__amount p {
    font-size: 16px;
  }

  .card__bar {
    height: 2px;
  }

  .card__bar span p {
    font-size: 14px;
    top: 0;
  }

  .container {
    max-width: 1000px;
    padding: 0 20px;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__wrapper {
    gap: 20px;
  }

  .header__btn {
    max-width: 200px;
  }

  .logo {
    width: 137px;
  }

  .nav__list {
    gap: 15px;
  }

  .nav__link {
    font-size: 12px;
  }

  .text {
    font-size: 14px;
  }

  .text--menu {
    font-size: 12px;
  }

  .text--sub {
    font-size: 12px;
  }

  .title {
    font-size: 32px;
  }

  .title--main {
    font-size: 40px;
  }

  .title--sub {
    font-size: 24px;
  }

  .title--18 {
    font-size: 16px;
  }

  .start {
    padding-top: 75px;
    padding-bottom: 70px;
  }

  .start__wrapper {
    gap: 0;
  }

  .start__info h1 {
    font-size: 32px;
    margin-top: 5px;
  }

  .start__info h2 {
    font-size: 40px;
  }

  .start__info p {
    font-size: 14px;
    margin-top: 30px;
  }

  .start__btn {
    margin-top: 20px;
  }

  .start__box {
    max-width: 375px;
    margin-left: auto;
  }

  .donat__wrapper {
    padding: 30px;
    grid-template-columns: 67% 31%;
    gap: 20px 2%;
  }

  .donat__list {
    gap: 10px;
  }

  .donat__sum {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #1b6df5;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 700;
    color: #1b6df5;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4px;
  }

  .donat__sum span {
    font-weight: 400;
  }

  .donat__sum:hover {
    background-color: #1b6df5;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .donat__btn {
    max-width: 305px;
  }

  .kinds {
    padding-top: 150px;
  }

  .kinds__title {
    margin-bottom: 70px;
  }

  .projects {
    padding-top: 150px;
  }

  .projects__grid {
    margin-top: 70px;
  }
}

@media (max-width: 999px) {
  .btn {
    max-width: 345px;
  }

  .burger {
    display: block;
  }

  .card__image {
    height: 250px;
  }

  .container {
    max-width: 750px;
    padding: 0 15px;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__lang {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header.open {
    height: 100vh;
    padding-bottom: 30px;
  }

  .header.open .header__container {
    height: 100%;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header.open .header__wrapper {
    position: relative;
    padding-bottom: 20px;
  }

  .header.open .header__wrapper::after {
    content: "";
    display: block;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #b9bcc6;
    margin-left: -15px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .header.open .header__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header.open .header__btn {
    display: none;
  }

  .header.open .header__body {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
  }

  .header.open .header__nav {
    margin-top: 20px;
    margin-left: initial;
  }

  .header.open .header__nav--mobile {
    display: block;
  }

  .header.open .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo img {
    -o-object-position: -2%;
    object-position: -2%;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 40px;
  }

  .nav__link {
    width: 100%;
    font-size: 20px;
  }

  .submenu__body {
    position: static;
    visibility: visible;
    opacity: 1;
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial;
    width: 100%;
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
  }

  .submenu__item a {
    font-size: 16px;
  }

  .submenu.open .submenu__body {
    max-height: 400px;
    padding: 20px;
  }

  .start {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .start__wrapper {
    display: block;
  }

  .start__info {
    max-width: initial;
  }

  .start__info h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .start__info h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .start__info p {
    margin-top: 20px;
  }

  .start__btn {
    display: none;
  }

  .start__btn--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .start__box {
    max-width: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto 0;
  }

  .donat__wrapper {
    padding: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .donat__banks {
    width: 100%;
  }

  .donat__bank {
    gap: 5px;
    padding-bottom: 10px;
  }

  .donat__icon {
    width: 18px;
    height: 18px;
  }

  .donat__list {
    width: 100%;
    gap: 10px 15px;
  }

  .donat__sum {
    height: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    font-weight: 700;
    color: #1b6df5;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4px;
  }

  .donat__sum span {
    font-weight: 400;
  }

  .donat__sum:hover {
    background-color: #1b6df5;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .donat__btn {
    max-width: 305px;
  }

  .projects {
    padding-top: 100px;
  }

  .projects__desc {
    margin-top: 10px;
  }

  .projects__btn {
    display: none;
  }

  .projects__btn--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto 0;
  }

  .projects__grid {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .accordion {
    padding: 20px 0;
  }

  .accordion__content {
    grid-template-columns: 1fr;
  }

  .accordion__img {
    max-height: 400px;
  }

  .accordion__img img {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: auto;
  }

  .accordion__text {
    margin-top: 5px;
  }

  .accordion__btn {
    margin: 15px auto 0;
  }

  .accordion.active .accordion__body {
    margin-top: 20px;
  }

  .title {
    font-size: 22px;
    line-height: 30px;
  }

  .title--main {
    font-size: 30px;
    line-height: 40px;
  }

  .title--sub {
    font-size: 18px;
    line-height: 130%;
  }

  .title--18 {
    font-size: 16px;
    line-height: 150%;
  }

  .kinds {
    padding-top: 100px;
  }

  .kinds__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 599px) {
  .card__image {
    height: 200px;
  }

  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .donat__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 499px) {
  .accordion__img {
    max-height: 200px;
  }
}

@media (max-width: 374px) {
  .header__btn {
    font-size: 14px;
  }

  .donat__list {
    gap: 10px;
  }

  .donat__name {
    font-size: 14px;
  }
}