html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: $lyellow;
}

.hidden {
  display: none !important;
}
