.start {
  padding-top: 100px;
  padding-bottom: 90px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  &__info {
    max-width: 530px;
    width: 100%;

    & h1 {
      font-family: "Kyiv", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      color: $black;

      margin-top: 10px;
    }

    h2 {
      font-family: "Kyiv", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 46px;
      line-height: 65px;
      color: $black;
    }

    & p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: $dgrey;

      margin-top: 40px;
    }
  }

  &__btn {
    margin-top: 30px;

    &--mobile {
      display: none;
    }
  }

  &__box {
    max-width: 410px;
    width: 100%;

    & img {
      object-fit: contain;
    }
  }
}

@media (max-width: 1279px) {
  .start {
    padding-top: 75px;
    padding-bottom: 70px;

    &__wrapper {
      gap: 0;
    }

    &__info {
      & h1 {
        font-size: 32px;
        margin-top: 5px;
      }

      & h2 {
        font-size: 40px;
      }

      & p {
        font-size: 14px;
        margin-top: 30px;
      }
    }

    &__btn {
      margin-top: 20px;
    }

    &__box {
      max-width: 375px;
      margin-left: auto;
    }
  }
}

@media (max-width: 999px) {
  .start {
    padding-top: 30px;
    padding-bottom: 30px;

    &__wrapper {
      display: block;
    }

    &__info {
      max-width: initial;

      & h1 {
        font-size: 22px;
        line-height: 30px;
      }

      & h2 {
        font-size: 30px;
        line-height: 40px;
      }

      & p {
        margin-top: 20px;
      }
    }

    &__btn {
      display: none;

      &--mobile {
        display: flex;
      }
    }

    &__box {
      max-width: 530px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px auto 0;
    }
  }
}
