@import "utils/variables.scss";
@import "utils/mixins.scss";

@import "base/fonts.scss";
@import "base/reset.scss";
@import "base/global.scss";

@import "components/accordion.scss";
@import "components/btn.scss";
@import "components/burger.scss";
@import "components/card.scss";
@import "components/container.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/main.scss";
@import "components/lang.scss";
@import "components/logo.scss";
@import "components/nav.scss";
@import "components/submenu.scss";
@import "components/text.scss";
@import "components/title.scss";

@import "blocks/start.scss";
@import "blocks/donat.scss";
@import "blocks/kinds.scss";
@import "blocks/projects.scss";
